@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
    background-image: url('/assets/images/banner-back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.bg-article {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* 커스텀한 스크롤 스타일 (listbox에 적용) */
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(138, 146, 156);
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: rgb(224,224,224);
    border-bottom-right-radius: 4px;
}

/* 커스텀한 nav스타일 (header nav에 적용) */
.custom-nav li {
    color: #686de0;
    text-shadow: none;
    padding: 6px 0;
    color: black;
    font-family: Lato;
    font-weight: 600;
    position: relative;
    display: block;
    text-decoration: none;
}
  
.custom-nav li:before {
    color: black;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}
  
.custom-nav li:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}
  
.custom-nav li:hover:before, .custom-nav li:focus:before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}
  
.custom-nav li:hover:after, .custom-nav li:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}